{% extends "base.html" %}

{% block content %}
<form action="/images" method="get">
    <h2>Search images</h2>
    <div class="mb-3">
        <label for="inputSearch" class="form-label">Search</label>
        <input type="text" class="form-control" id="inputSearch" name="search" aria-describedby="inputSearchHelp" value="{{ search_form.search.as_deref().unwrap_or("") }}">
        <div id="inputSearchHelp" class="form-text">Image prompt, sampler, seed, model (hash or name), etc...</div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<div id="images-">
    <h2>Images:</h2>
    <div class="row">
        {% for image in images %}
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 d-flex mb-1">
            <a href="/images/{{ image.id }}" class="d-flex justify-content-center w-100">
            {% match image.file_path %}
                {% when Some with (file_path) %}
                    <img
                    src="/{{ file_path  }}"
                    style="object-fit: contain; max-width: 100%;"
                    />
                {% when None %}
                    <div style="display: block; min-height: 100px; width: 100%; background-color: lightgray;"></div>
            {% endmatch %}
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
