{% extends "base.html" %}

{% block content %}
<form action="/images" method="get">
    <h2>Search images</h2>
    <div class="mb-3">
        <label for="inputSearch" class="form-label">Search</label>
        <input type="text" class="form-control" id="inputSearch" name="search" aria-describedby="inputSearchHelp" value="{{ search_form.search.as_deref().unwrap_or("") }}">
        <div id="inputSearchHelp" class="form-text">Image prompt, sampler, seed, model (hash or name), etc...</div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<div id="images-">
    <h2>Images:</h2>
    <div class="list-group">
        {% for image in images %}
        <a href="/images/{{ image.id }}" class="list-group-item list-group-item-action">{{ image.id }} - {{ image.created_at }}</a>
        {% endfor %}
    </div>
</div>
{% endblock %}
