{% extends "base.html" %}

{% block content %}
<form target="/images/upload" method="post" enctype="multipart/form-data">
    <h2>Upload images</h2>
    <div class="mb-3">
        <label for="inputFiles" class="form-label">Image files</label>
        {% match error_message %}
            {% when Some with (message) %}
                <input type="file" class="form-control is-invalid" id="inputFiles" name="files" multiple required aria-describedby="inputFileHelp inputHelpInvalid">
                <div id="inputHelpInvalid" class="invalid-feedback">{{ message }}</div>
            {% when None %}
                <input type="file" class="form-control" id="inputFiles" name="files" multiple required aria-describedby="inputFileHelp inputHelpInvalid">
        {% endmatch %}
        <div id="inputFileHelp" class="form-text">Files must be downloaded from A1111 interface (original)</div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
